name: Build And Deploy
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: build image
        run: make build-image

      - name: push the image
        run: make build-image-push
        env:
          AWS_ACCOUNT_ID: ${{vars.AWS_ACCOUNT_ID}}
          AWS_DEFAULT_REGION: ${{vars.AWS_DEFAULT_REGION}}
          AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
          AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
