name: Build And Deploy
on:
  push:
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: list the contents
        run: |
          ls -lah
